<%= form_for @quiz do |f| %>

<ul>
  <% @quiz.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit (@quiz.new_record? ? "Create" : "Update") %>
<% end %>
