<!DOCTYPE html>
<html>
  <head>
    <title>QuizGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="footer">
      <%= link_to "[All Quizzes]", root_path %>, <%= link_to "[New Quiz]", new_quiz_path %>
    </div>
  </body>
</html>
